/* ---------- HEADER --------- */
.menu h3{
    background-color:#AC99BF;
    float: left;
    margin-left: 15%;
}
.menu{
    margin-left: 10%;
    width: 75%;
    position: absolute;
    z-index: 4;
}
.onglet .main_pages 
{
    float: right;
    margin-top: 1%;
    width: 50%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.onglet .main_pages a 
{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    color: black;
}
.onglet .main_pages .contact{
    background-color: #AC99BF;
    border-radius: 12px;
    color: white;
}
.onglet a:hover 
{
    color: #AC99BF;
}
label, #toggle
{
    display: none;
}
body{
    background-image: url(./photo/IMG_6216_Original.JPG); 
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    z-index: 1;
    
}
  header .photo p{
    position: absolute;
    z-index: 2;
    text-align: center;
    top:45%;
    left: 30%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Bradley Hand, cursive;
  }
  header .photo a{
    text-decoration: none;
    color: white;
    font-family: Georgia, serif;
  }
@media all and (max-width: 890px)
{
    header .menu{
        display: inline-block;
    }
    header .menu a{
        position: relative;
        margin: 0px;
    }
    header .onglet
    {
        position: relative;
        float: right;
    }
 
    header .onglet .main_pages 
    {
        display: none;
        flex-direction: column;
        height: 80vh;
        width: 100vw;
        background-color: azure;
    }
 
    header .onglet .main_pages a {
        width: 100%;
        color: black;
    }
 
    .trois
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
    }
    .image{
        width: 100vh;
    }
    #toggle:checked + .main_pages {
        display: flex;
    }
}